alias chmod="sudo chmod"
alias mv="sudo mv"
alias pacman="sudo pacman"
alias pkill="sudo pkill"
alias rm="sudo rm"
alias systemctl="sudo systemctl"
alias sed="sudo sed"
alias dot="cd $HOME/.dotfiles && clear && ls -1"
alias install="sudo pacman -S $1"
alias proc="pacman -Ss $1"
alias drop="sudo pacman -Rns $1"
alias info="pacman -Qi $1"
alias qs="pacman -Qs $1"
alias hub="cd $HOME/Downloads/pstar_devops && ls -1"
alias tdow="sudo tailscale down"
alias ntp="sudo ntpd -q -g && sudo hwclock --systohc"
